body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


/*=================== NavBar ================== */

@media(min-width:767px) {
    .navbar {
        /*navbar glass css */
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        border-bottom: 0px;
        /* navbar growing css */
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
        /*navbar font */
        font-family: sans-serif;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
        border-bottom: 0px;
    }
}


/*======= Custom Buttons CSS ==========================*/


/*======== INTRO SECTION CSS  ==========================*/


/* section css */

.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    /* for background scaling */
    background: url("../assets/background_cover.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* cover heading text css */
#home-middlecaption {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}

#navBrand {
    font-weight: bold;
}
#home-text{
    background-color: rgba(255, 255, 255, 0.09);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3);
    border-radius: 20px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

/*======== ABOUT SECTION CSS ==========================*/

.about-section {
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    background: #eee;
}

.projects-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: #fff;
}
/*============= GRAPHICS SECTION =================*/
.graphics-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: #eee;
}

.#thumbnails{
    
}
/*================= CONTACT SECTION ============*/
.contact-section {
    padding-top: 100px;
    padding-bottom: 400px;
    text-align: center;
    background: #fff;
}


/*==================Footer==============================*/

#footer {
    background: #fff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/*================ Blog ==========================*/

/*======= Adknown ================*/
.blog-adknown {
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    background: #fff;
}
