
body{
}

/*navbar css ======================*/

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px; 
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}

/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
border-radius: 4px;
}  

.jumbotron {
	padding-top: 300px;
  background-color: black;
	background-image: url(http://www.itabc.ca/sites/default/files/IndustrialMechanicMillright3_0.jpg);
	background-size: cover;
	height: 100%;
}

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}